<a href="https://colab.research.google.com/github/swastiksuvam55/Bio-data-page/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/alldata_1_for_kaggle.csv',encoding='latin1')

In [ ]:
data.head

<bound method NDFrame.head of       Unnamed: 0               0  \
0              0  Thyroid_Cancer
1              1  Thyroid_Cancer
2              2  Thyroid_Cancer
3              3  Thyroid_Cancer
4              4  Thyroid_Cancer
...          ...             ...
7565        7565    Colon_Cancer
7566        7566    Colon_Cancer
7567        7567    Colon_Cancer
7568        7568    Colon_Cancer
7569        7569    Colon_Cancer

                                                      a
0     Thyroid surgery in  children in a single insti...
1     " The adopted strategy was the same as that us...
2     coronary arterybypass grafting thrombosis ï¬b...
3      Solitary plasmacytoma SP of the skull is an u...
4      This study aimed to investigate serum matrix ...
...                                                 ...
7565  we report the case of a 24yearold man who pres...
7566  among synchronous colorectal cancers scrcs rep...
7567  the heterogeneity of cancer cells is generally...
7568  "adipogenesis is the process through which mes...
7569  the periparturient period is one of the most c...

[7570 rows x 3 columns]>

In [ ]:
data['a']=data['a'].apply(lambda x: x.lower())

In [ ]:
data['a']

0       thyroid surgery in  children in a single insti...
1       " the adopted strategy was the same as that us...
2       coronary arterybypass grafting thrombosis ï¬b...
3        solitary plasmacytoma sp of the skull is an u...
4        this study aimed to investigate serum matrix ...
                              ...
7565    we report the case of a 24yearold man who pres...
7566    among synchronous colorectal cancers scrcs rep...
7567    the heterogeneity of cancer cells is generally...
7568    "adipogenesis is the process through which mes...
7569    the periparturient period is one of the most c...
Name: a, Length: 7570, dtype: object

In [ ]:
data['a']=data['a'].apply(lambda x: nltk.word_tokenize(x))

In [ ]:
data['a']

0       [thyroid, surgery, in, children, in, a, single...
1       [``, the, adopted, strategy, was, the, same, a...
2       [coronary, arterybypass, grafting, thrombosis,...
3       [solitary, plasmacytoma, sp, of, the, skull, i...
4       [this, study, aimed, to, investigate, serum, m...
                              ...
7565    [we, report, the, case, of, a, 24yearold, man,...
7566    [among, synchronous, colorectal, cancers, scrc...
7567    [the, heterogeneity, of, cancer, cells, is, ge...
7568    [``, adipogenesis, is, the, process, through, ...
7569    [the, periparturient, period, is, one, of, the...
Name: a, Length: 7570, dtype: object

In [ ]:
def PMR(x):
  list1 = []
  for i in x:
    if i.isalnum():
      list1.append(i)
  return list1

In [ ]:
data['a']=data['a'].apply(lambda x: PMR(x))

In [ ]:
data['a']

0       [thyroid, surgery, in, children, in, a, single...
1       [the, adopted, strategy, was, the, same, as, t...
2       [coronary, arterybypass, grafting, thrombosis,...
3       [solitary, plasmacytoma, sp, of, the, skull, i...
4       [this, study, aimed, to, investigate, serum, m...
                              ...
7565    [we, report, the, case, of, a, 24yearold, man,...
7566    [among, synchronous, colorectal, cancers, scrc...
7567    [the, heterogeneity, of, cancer, cells, is, ge...
7568    [adipogenesis, is, the, process, through, whic...
7569    [the, periparturient, period, is, one, of, the...
Name: a, Length: 7570, dtype: object

In [ ]:
MLIST = set(stopwords.words("english"))
type(MLIST)

set

In [ ]:
'in' in MLIST

True

In [ ]:

def stopremoval(x):
  list2 = []
  for i in x:
    if i in MLIST:
      pass
    else:
      list2.append(i)
  return list2

In [ ]:
data['a'] = data['a'].apply(lambda x: stopremoval(x))

In [ ]:

data['a']

0       [thyroid, surgery, children, single, instituti...
1       [adopted, strategy, used, prior, years, based,...
2       [coronary, arterybypass, grafting, thrombosis,...
3       [solitary, plasmacytoma, sp, skull, uncommon, ...
4       [study, aimed, investigate, serum, matrix, met...
                              ...
7565    [report, case, 24yearold, man, presented, chie...
7566    [among, synchronous, colorectal, cancers, scrc...
7567    [heterogeneity, cancer, cells, generally, acce...
7568    [adipogenesis, process, mesenchymalstem, cells...
7569    [periparturient, period, one, challenging, per...
Name: a, Length: 7570, dtype: object

In [ ]:
data['freq'] = data['a'].apply(lambda x : len(x))

In [ ]:
from nltk.stem import SnowballStemmer
snowball = SnowballStemmer(language='english')

In [ ]:
def stemmer(x):
  list3 = []
  for i in x:
    list3.append(snowball.stem(i))
  return list3

In [ ]:
data['new'] = data['a'].apply(lambda x: stemmer(x))

In [ ]:
df = data.copy()

In [ ]:
df['new2'] = df['a'].apply(lambda x: stemmer(x))

In [ ]:
df['a'] = df['new2']

In [ ]:
df

,Unnamed: 0,0,a,freq,new,new2
0,0,Thyroid_Cancer,"[thyroid, surgeri, children, singl, institut, ...",2012,"[thyroid, surgeri, children, singl, institut, ...","[thyroid, surgeri, children, singl, institut, ..."
1,1,Thyroid_Cancer,"[adopt, strategi, use, prior, year, base, four...",1619,"[adopt, strategi, use, prior, year, base, four...","[adopt, strategi, use, prior, year, base, four..."
2,2,Thyroid_Cancer,"[coronari, arterybypass, graft, thrombosi, mut...",1984,"[coronari, arterybypass, graft, thrombosi, mut...","[coronari, arterybypass, graft, thrombosi, mut..."
3,3,Thyroid_Cancer,"[solitari, plasmacytoma, sp, skull, uncommon, ...",1261,"[solitari, plasmacytoma, sp, skull, uncommon, ...","[solitari, plasmacytoma, sp, skull, uncommon, ..."
4,4,Thyroid_Cancer,"[studi, aim, investig, serum, matrix, metallop...",2074,"[studi, aim, investig, serum, matrix, metallop...","[studi, aim, investig, serum, matrix, metallop..."
...,...,...,...,...,...,...
7565,7565,Colon_Cancer,"[report, case, 24yearold, man, present, chief,...",975,"[report, case, 24yearold, man, present, chief,...","[report, case, 24yearold, man, present, chief,..."
7566,7566,Colon_Cancer,"[among, synchron, colorect, cancer, scrcs, rep...",840,"[among, synchron, colorect, cancer, scrcs, rep...","[among, synchron, colorect, cancer, scrcs, rep..."
7567,7567,Colon_Cancer,"[heterogen, cancer, cell, general, accept, ast...",2885,"[heterogen, cancer, cell, general, accept, ast...","[heterogen, cancer, cell, general, accept, ast..."
7568,7568,Colon_Cancer,"[adipogenesi, process, mesenchymalstem, cell, ...",2494,"[adipogenesi, process, mesenchymalstem, cell, ...","[adipogenesi, process, mesenchymalstem, cell, ..."
7569,7569,Colon_Cancer,"[periparturi, period, one, challeng, period, d...",3011,"[periparturi, period, one, challeng, period, d...","[periparturi, period, one, challeng, period, d..."

In [ ]:
df.drop(['new','new2'],axis=1,inplace = True)

In [ ]:
df

,Unnamed: 0,0,a,freq
0,0,Thyroid_Cancer,"[thyroid, surgeri, children, singl, institut, ...",2012
1,1,Thyroid_Cancer,"[adopt, strategi, use, prior, year, base, four...",1619
2,2,Thyroid_Cancer,"[coronari, arterybypass, graft, thrombosi, mut...",1984
3,3,Thyroid_Cancer,"[solitari, plasmacytoma, sp, skull, uncommon, ...",1261
4,4,Thyroid_Cancer,"[studi, aim, investig, serum, matrix, metallop...",2074
...,...,...,...,...
7565,7565,Colon_Cancer,"[report, case, 24yearold, man, present, chief,...",975
7566,7566,Colon_Cancer,"[among, synchron, colorect, cancer, scrcs, rep...",840
7567,7567,Colon_Cancer,"[heterogen, cancer, cell, general, accept, ast...",2885
7568,7568,Colon_Cancer,"[adipogenesi, process, mesenchymalstem, cell, ...",2494
7569,7569,Colon_Cancer,"[periparturi, period, one, challeng, period, d...",3011

In [ ]:
data = df.copy()

In [ ]:
data.columns

Index(['Unnamed: 0', '0', 'a', 'freq'], dtype='object')

In [ ]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
data.head

<bound method NDFrame.head of                    0                                                  a  freq
0     Thyroid_Cancer  [thyroid, surgeri, children, singl, institut, ...  2012
1     Thyroid_Cancer  [adopt, strategi, use, prior, year, base, four...  1619
2     Thyroid_Cancer  [coronari, arterybypass, graft, thrombosi, mut...  1984
3     Thyroid_Cancer  [solitari, plasmacytoma, sp, skull, uncommon, ...  1261
4     Thyroid_Cancer  [studi, aim, investig, serum, matrix, metallop...  2074
...              ...                                                ...   ...
7565    Colon_Cancer  [report, case, 24yearold, man, present, chief,...   975
7566    Colon_Cancer  [among, synchron, colorect, cancer, scrcs, rep...   840
7567    Colon_Cancer  [heterogen, cancer, cell, general, accept, ast...  2885
7568    Colon_Cancer  [adipogenesi, process, mesenchymalstem, cell, ...  2494
7569    Colon_Cancer  [periparturi, period, one, challeng, period, d...  3011

[7570 rows x 3 columns]>

In [ ]:
import tensorflow as tf

In [ ]:
training_df: pd.DataFrame = pd.DataFrame(
  data
)

In [ ]:
training_df

                   0                                                  a  freq
0     Thyroid_Cancer  [thyroid, surgeri, children, singl, institut, ...  2012
1     Thyroid_Cancer  [adopt, strategi, use, prior, year, base, four...  1619
2     Thyroid_Cancer  [coronari, arterybypass, graft, thrombosi, mut...  1984
3     Thyroid_Cancer  [solitari, plasmacytoma, sp, skull, uncommon, ...  1261
4     Thyroid_Cancer  [studi, aim, investig, serum, matrix, metallop...  2074
...              ...                                                ...   ...
7565    Colon_Cancer  [report, case, 24yearold, man, present, chief,...   975
7566    Colon_Cancer  [among, synchron, colorect, cancer, scrcs, rep...   840
7567    Colon_Cancer  [heterogen, cancer, cell, general, accept, ast...  2885
7568    Colon_Cancer  [adipogenesi, process, mesenchymalstem, cell, ...  2494
7569    Colon_Cancer  [periparturi, period, one, challeng, period, d...  3011

[7570 rows x 3 columns]

In [ ]:
training_df.drop('freq',axis=1,inplace=True)

In [ ]:
training_df['0'].values

array(['Thyroid_Cancer', 'Thyroid_Cancer', 'Thyroid_Cancer', ...,
       'Colon_Cancer', 'Colon_Cancer', 'Colon_Cancer'], dtype=object)

In [ ]:
features = ['a']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
data['new'] = le.fit_transform(data['0'])

In [ ]:
data['new'].value_counts()

2    2810
0    2580
1    2180
Name: new, dtype: int64

In [ ]:
data

,0,a,freq,new
0,Thyroid_Cancer,"[thyroid, surgeri, children, singl, institut, ...",2012,2
1,Thyroid_Cancer,"[adopt, strategi, use, prior, year, base, four...",1619,2
2,Thyroid_Cancer,"[coronari, arterybypass, graft, thrombosi, mut...",1984,2
3,Thyroid_Cancer,"[solitari, plasmacytoma, sp, skull, uncommon, ...",1261,2
4,Thyroid_Cancer,"[studi, aim, investig, serum, matrix, metallop...",2074,2
...,...,...,...,...
7565,Colon_Cancer,"[report, case, 24yearold, man, present, chief,...",975,0
7566,Colon_Cancer,"[among, synchron, colorect, cancer, scrcs, rep...",840,0
7567,Colon_Cancer,"[heterogen, cancer, cell, general, accept, ast...",2885,0
7568,Colon_Cancer,"[adipogenesi, process, mesenchymalstem, cell, ...",2494,0
7569,Colon_Cancer,"[periparturi, period, one, challeng, period, d...",3011,0

In [ ]:
data.drop(['0','freq'],axis=1,inplace=True)

In [ ]:
data

                                                      a  new
0     [thyroid, surgeri, children, singl, institut, ...    2
1     [adopt, strategi, use, prior, year, base, four...    2
2     [coronari, arterybypass, graft, thrombosi, mut...    2
3     [solitari, plasmacytoma, sp, skull, uncommon, ...    2
4     [studi, aim, investig, serum, matrix, metallop...    2
...                                                 ...  ...
7565  [report, case, 24yearold, man, present, chief,...    0
7566  [among, synchron, colorect, cancer, scrcs, rep...    0
7567  [heterogen, cancer, cell, general, accept, ast...    0
7568  [adipogenesi, process, mesenchymalstem, cell, ...    0
7569  [periparturi, period, one, challeng, period, d...    0

[7570 rows x 2 columns]

In [ ]:
data

                                                      a  new
0     [thyroid, surgeri, children, singl, institut, ...    2
1     [adopt, strategi, use, prior, year, base, four...    2
2     [coronari, arterybypass, graft, thrombosi, mut...    2
3     [solitari, plasmacytoma, sp, skull, uncommon, ...    2
4     [studi, aim, investig, serum, matrix, metallop...    2
...                                                 ...  ...
7565  [report, case, 24yearold, man, present, chief,...    0
7566  [among, synchron, colorect, cancer, scrcs, rep...    0
7567  [heterogen, cancer, cell, general, accept, ast...    0
7568  [adipogenesi, process, mesenchymalstem, cell, ...    0
7569  [periparturi, period, one, challeng, period, d...    0

[7570 rows x 2 columns]

In [ ]:
def l2s(x):
  s = ""
  for i in x:
    s+= i + " "
  return s

In [ ]:
data['y']  = data['a'].apply(lambda x:l2s(x))

In [ ]:
res = eval("data['a'][0]")

In [ ]:
res

['thyroid',
 'surgeri',
 'children',
 'singl',
 'institut',
 'osama',
 'ibrahim',
 'almosallama',
 'ali',
 'aseerib',
 'ahm',
 'alhumaida',
 'ali',
 'alzahran',
 'saif',
 'alsobhib',
 'saud',
 'alshanafeybfrom',
 'adepart',
 'surgeri',
 'colleg',
 'medicin',
 'qassim',
 'univers',
 'buraidah',
 'al',
 'qassim',
 'saudi',
 'arabia',
 'bdepart',
 'surgeri',
 'king',
 'faisal',
 'specialist',
 'hospit',
 'research',
 'center',
 'riyadh',
 'saudi',
 'arabia',
 'cdepart',
 'medicin',
 'king',
 'faisal',
 'specialist',
 'hospit',
 'research',
 'center',
 'riyadh',
 'saudi',
 'arabia',
 'correspond',
 'dr',
 'osama',
 'ibrahim',
 'almosallam',
 'depart',
 'surgeri',
 'colleg',
 'medicin',
 'qassim',
 'univers',
 'po',
 'box',
 'buraidah',
 'al',
 'qassim',
 'saudi',
 'arabia',
 'orcid',
 'orcid0000000290367564',
 'citat',
 'almosallam',
 'oi',
 'aseeri',
 'alhumaid',
 'alzahrani',
 'alsobhi',
 'alshanafey',
 'thyroid',
 'surgeri',
 'children',
 'singl',
 'institut',
 'ann',
 'saudi',
 'med',
 'receiv',
 'januari',
 'accept',
 'may',
 'publish',
 'august',
 'copyright',
 'copyright',
 'annal',
 'saudi',
 'medicin',
 'saudi',
 'arabia',
 'access',
 'creativ',
 'common',
 'attributionnoncommercialnoderiv',
 'intern',
 'licens',
 'cc',
 'byncnd',
 'detail',
 'access',
 'httpcreativecommon',
 'licensesbyncnd40fund',
 'nonebackground',
 'data',
 'thyroid',
 'surgeri',
 'children',
 'scarceobject',
 'analyz',
 'outcom',
 'data',
 'thyroid',
 'surgeri',
 'pediatr',
 'populationdesign',
 'medic',
 'record',
 'reviewset',
 'tertiari',
 'health',
 'care',
 'institutionpati',
 'method',
 'collect',
 'demograph',
 'clinic',
 'data',
 'patient',
 'year',
 'younger',
 'thyroid',
 'surgeri',
 'period',
 'descript',
 'data',
 'presentedmain',
 'outcom',
 'measur',
 'indic',
 'thyroidectomi',
 'thyroid',
 'patholog',
 'complic',
 'length',
 'stay',
 'radioact',
 'iodin',
 'treatment',
 'recurrencessampl',
 'size',
 'result',
 'patient',
 'underw',
 'thyroidectomi',
 'procedur',
 'femal',
 'mean',
 'age',
 'oper',
 'year',
 'associ',
 'multipl',
 'endocrin',
 'neoplasia',
 'type',
 'histori',
 'radiat',
 'exposur',
 'eightyon',
 'patient',
 'fine',
 'needl',
 'aspir',
 'fna',
 'correl',
 'final',
 'histopatholog',
 'case',
 'sixtysix',
 'patient',
 'malign',
 'cancer',
 'papillari',
 'patient',
 'neck',
 'dissect',
 'lymph',
 'node',
 'metastasi',
 'distant',
 'metastas',
 'lung',
 'procedur',
 'includ',
 'total',
 'thyroidectomi',
 'hemithyroidectomi',
 'complet',
 'subtot',
 'thyroidectomi',
 'twentythre',
 'patient',
 'develop',
 'hypocalcemia',
 'perman',
 'unilater',
 'recurr',
 'laryng',
 'nerv',
 'injuri',
 'perman',
 'patient',
 'follow',
 'mean',
 'durat',
 'month',
 'median',
 'month',
 'patient',
 'thyroid',
 'cancer',
 'receiv',
 'radioact',
 'iodin',
 'recurr',
 'malign',
 'commonest',
 'indic',
 'thyroid',
 'surgeri',
 'children',
 'fna',
 'high',
 'diagnost',
 'hypocalcemia',
 'recurr',
 'laryng',
 'nerv',
 'injuri',
 'signific',
 'complic',
 'recurr',
 'rate',
 'thyroid',
 'cancer',
 'limit',
 'retrospectiveconflict',
 'interest',
 'noneorigin',
 'ann',
 'saudi',
 'med',
 'julyaugust',
 'wwwannsaudimednet',
 '0cthyroid',
 'diseas',
 'requir',
 'surgeri',
 'relat',
 'uncommon',
 'children',
 'compar',
 'adult',
 'preval',
 'palpabl',
 'thyroid',
 'nodul',
 'children',
 'rang',
 'sporad',
 'welldifferenti',
 'thyroid',
 'cancer',
 'common',
 'endocrin',
 'malign',
 'children',
 'account',
 'pediatr',
 'cancer',
 'prepubert',
 'age',
 'group',
 'cancer',
 'adolesc',
 'age',
 'year2',
 'common',
 'indic',
 'thyroid',
 'surgeri',
 'children',
 'vari',
 'among',
 'publish',
 'studi',
 'thyroidectomi',
 'malign',
 'condit',
 'rising38',
 'data',
 'children',
 'throughout',
 'world',
 'relat',
 'scarc',
 'object',
 'studi',
 'analyz',
 'clinic',
 'data',
 'outcom',
 'thyroid',
 'surgeri',
 'larg',
 'seri',
 'children',
 'treat',
 'singl',
 'center',
 'king',
 'faisal',
 'specialist',
 'hospit',
 'research',
 'center',
 'kfshrc',
 'riyadhpati',
 'method',
 'approv',
 'institut',
 'review',
 'board',
 'irb',
 'kfshrc',
 'medic',
 'record',
 'patient',
 'year',
 'old',
 'younger',
 'underw',
 'thyroid',
 'surgeri',
 'retrospect',
 'review',
 'elect',
 'includ',
 'patient',
 'year',
 'ensur',
 'reason',
 'followup',
 'period',
 'patient',
 'studi',
 'identifi',
 'search',
 'oper',
 'room',
 'log',
 'procedur',
 'involv',
 'thyroid',
 'gland',
 'specifi',
 'age',
 'groupdemograph',
 'data',
 'clinic',
 'featur',
 'surgic',
 'outcom',
 'collect',
 'specif',
 'data',
 'obtain',
 'includ',
 'age',
 'oper',
 'gender',
 'famili',
 'histori',
 'present',
 'symptom',
 'histori',
 'radiat',
 'exposur',
 'presenc',
 'multipl',
 'endocrin',
 'neoplasia',
 'type',
 'men',
 'thyroid',
 'function',
 'test',
 'presenc',
 'size',
 'thyroid',
 'nodul',
 'ultrasound',
 'presenc',
 'lymph',
 'node',
 'metastasi',
 'distant',
 'metastasi',
 'fine',
 'needl',
 'aspir',
 'fna',
 'cytolog',
 'surgic',
 'procedur',
 'final',
 'histopatholog',
 'length',
 'followup',
 'outcom',
 'analyz',
 'postop',
 'complic',
 'includ',
 'transient',
 'perman',
 'hypocalcemia',
 'transient',
 'perman',
 'recurr',
 'laryng',
 'nerv',
 'paralysi',
 'wound',
 'infect',
 'hematoma',
 'length',
 'stay',
 'radioact',
 'iodin',
 'treatment',
 'recurr',
 'thyroid',
 'procedur',
 'seri',
 'includ',
 'hemithyroidectomi',
 'subtot',
 'total',
 'complet',
 'thyroidectomi',
 'surgeri',
 'perform',
 'either',
 'endocrin',
 'adult',
 'surgeon',
 'pediatr',
 'surgeon',
 'intraop',
 'nerv',
 'monitor',
 'use',
 'earli',
 'seri',
 'procedur',
 'perform',
 'adult',
 'endocrin',
 'surgeon',
 'late',
 'combin',
 'approach',
 'adopt',
 'pediatr',
 'surgeon',
 'adult',
 'endocrin',
 'surgeon',
 'collabor',
 'case',
 'proceduresth',
 'normal',
 'rang',
 'laboratori',
 'regardless',
 'symptom',
 'transient',
 'hypocalcemia',
 'identifi',
 'last',
 'less',
 'month',
 'perman',
 'hypocalcemia',
 'consid',
 'serum',
 'calcium',
 'level',
 'remain',
 'normal',
 'rang',
 'patient',
 'continu',
 'calcium',
 'supplement',
 'month',
 'surgeri',
 'patient',
 'famili',
 'histori',
 'men',
 'underw',
 'genet',
 'test',
 'ret',
 'protooncogen',
 'confirm',
 'diagnosi',
 'patient',
 'underw',
 'complet',
 'thyroidectomi',
 'preoper',
 'postop',
 'vocal',
 'cord',
 'assess',
 'otolaryngolog',
 'clinic',
 'descript',
 'data',
 'generat',
 'comparison',
 'conduct',
 'use',
 'test',
 'continu',
 'data',
 'chisquar',
 'fisher',
 'exact',
 'test',
 'proportionsresultsbetween',
 'patient',
 'underw',
 'surgic',
 'procedur',
 'patient',
 'underw',
 'two',
 'procedur',
 'thyroid',
 'diseas',
 'institut',
 'eighti',
 'patient',
 'femal',
 'mean',
 'age',
 'oper',
 'year',
 'median',
 'year',
 'rang',
 'year',
 'common',
 'indic',
 'thyroidectomi',
 'thyroid',
 'nodul',
 'present',
 'case',
 'tabl',
 'mean',
 'sd',
 'size',
 'thyroid',
 'nodul',
 'mm',
 'case',
 'associ',
 'men',
 'syndrom',
 'final',
 'patholog',
 'two',
 'patient',
 'men',
 'syndrom',
 'show',
 'medullari',
 'thyroid',
 'cancer',
 'mtc',
 'remain',
 'patient',
 'prophylact',
 'procedur',
 'develop',
 'mtc',
 'none',
 'patient',
 'histori',
 'radiat',
 'exposur',
 'eightyon',
 'patient',
 'fna',
 'correl',
 'final',
 'histopatholog',
 'case',
 'three',
 'case',
 'toxic',
 'adenoma',
 'one',
 'case',
 'diseas',
 'requir',
 'fna',
 'remain',
 'case',
 'underw',
 'fna',
 'anoth',
 'institut',
 'fna',
 'repeat',
 'institut',
 'came',
 'complet',
 'thyroidectomi',
 'document',
 'patholog',
 'malign',
 'first',
 'surgeri',
 'anoth',
 'hospitalth',
 'common',
 'diagnos',
 'includ',
 'papillari',
 'thyroid',
 'cancer',
 'multinodular',
 'goiter',
 'colloid',
 'tabl',
 'indic',
 'thyroidectomi',
 'patient',
 'indicationnodulen',
 'men',
 'prophylaxishyperthyroidismmultinodular',
 'goitercomplet',
 'thyroidectomi',
 'hypocalcemia',
 'defin',
 'calcium',
 'level',
 'data',
 'number',
 'origin',
 'pediatr',
 'thyroid',
 'surgeryann',
 'saudi',
 'med',
 'julyaugust',
 'wwwannsaudimednet',
 '0cnodul',
 'tabl',
 'surgic',
 'procedur',
 'includ',
 'total',
 'thyroidectomi',
 'hemithyroidectomi',
 'complet',
 'thyroidectomi',
 'subtot',
 'thyroidectomi',
 'neck',
 'dissect',
 'perform',
 'patient',
 'oper',
 'complic',
 'observ',
 'patient',
 'common',
 'complic',
 'hypocalcemia',
 'transient',
 'perman',
 'tabl',
 'thyroid',
 'patholog',
 'patientspathologyn',
 'benignnorm',
 'thyroid',
 'tissuecolloid',
 'diseasethyroid',
 'cancerpapillaryfollicularmedullaryhurthleanaplastictotaldata',
 'number',
 'tabl',
 'benign',
 'malign',
 'lesion',
 'patientsbenignn37malignantn66',
 'p',
 'valu',
 'age',
 'meanyearsgend',
 'malefemalepres',
 'nodulehypocalcemiarecurr',
 'laryng',
 'nerv',
 'palsybleedinghematomawound',
 'infectiontrach',
 'injuryoveral',
 'complicationsmean',
 'length',
 'stay',
 'daysmen',
 'recurr',
 'laryng',
 'nerv',
 'palsi',
 'transient',
 'perman',
 'unilater',
 'tabl',
 'patient',
 'malign',
 'lesion',
 'lymph',
 'node',
 'metastasi',
 'patient',
 'distant',
 'metastas',
 'lung',
 'none',
 'patient',
 'develop',
 'postop',
 'bleed',
 'wound',
 'infect',
 'tracheal',
 'injuri',
 'patient',
 'follow',
 'mean',
 'month',
 'median',
 'rang',
 'month',
 'radioact',
 'iodin',
 'treatment',
 'deliv',
 'patient',
 'malign',
 'lesion',
 'patient',
 'recurr',
 'local',
 'recurr',
 'local',
 'distant',
 'recurr',
 'lung',
 'three',
 'case',
 'receiv',
 'radioact',
 'iodin',
 'rai',
 'recurr',
 'one',
 'case',
 'low',
 'risk',
 'recurr',
 'receiv',
 'rai',
 'recurr',
 'one',
 'case',
 'medullari',
 'thyroid',
 'cancer',
 'receiv',
 'rai',
 'remain',
 'five',
 'case',
 'clear',
 'data',
 'whether',
 'patient',
 'receiv',
 'rai',
 'recurr',
 'local',
 'recurr',
 'underw',
 'resect',
 'except',
 'one',
 'patient',
 'lost',
 'follow',
 'mortal',
 'studi',
 'discussionth',
 'common',
 'indic',
 'thyroidectomi',
 'seri',
 'thyroid',
 'nodul',
 'correl',
 'previous',
 'publish',
 'report',
 'pediatr',
 'population35',
 'children',
 'thyroid',
 'nodul',
 'estim',
 'fourfold',
 'higher',
 'risk',
 'develop',
 'thyroid',
 'cancer',
 'compar',
 'adults910',
 'high',
 'incid',
 'malign',
 'seri',
 'suggest',
 'children',
 'thyroid',
 'nodul',
 'care',
 'evaluatedfna',
 'valuablemethod',
 'preoper',
 'evalu',
 'thyroid',
 'nodul',
 'howev',
 'limit',
 'routin',
 'use',
 'fna',
 'children',
 'includ',
 'need',
 'sedat',
 'sampl',
 'error',
 'limit',
 'avail',
 'experienc',
 'cytopathologists11',
 'mani',
 'previous',
 'studi',
 'report',
 'high',
 'sensit',
 'specif',
 'fna',
 'evalu',
 'thyroid',
 'nodul',
 'children1114',
 'correl',
 'findingsour',
 'data',
 'show',
 'lymph',
 'node',
 'metastasi',
 'thyroid',
 'cancer',
 'case',
 'support',
 'notion',
 'children',
 'thyroid',
 'cancer',
 'frequent',
 'present',
 'extens',
 'diseas',
 'adult',
 'lymphnod',
 'involv',
 'diagnosi',
 'seen',
 'children',
 'compar',
 'adult',
 'differenti',
 'thyroid',
 'cancer1523',
 'hospit',
 'largest',
 'referr',
 'center',
 'saudi',
 'arabia',
 'especi',
 'oncolog',
 'case',
 'may',
 'explain',
 'larg',
 'number',
 'lymph',
 'node',
 'distant',
 'metastasi',
 'cohortth',
 'common',
 'complic',
 'report',
 'thyroidectomi',
 'children',
 'hypoparathyroid',
 'incid',
 'rang',
 'origin',
 'pediatr',
 'thyroid',
 'surgeryann',
 'saudi',
 'med',
 'julyaugust',
 'wwwannsaudimednet',
 '0ccorrespond',
 'result',
 'report',
 'hypocalcemia',
 'tabl',
 'one',
 'studi',
 'found',
 'total',
 'thyroidectomi',
 'central',
 'bilater',
 'neck',
 'dissect',
 'diseas',
 'malign',
 'risk',
 'factor',
 'hypocalcemia',
 'thyroid',
 'surgery3',
 'cohort',
 'postop',
 'hypocalcemia',
 'note',
 'malign',
 'case',
 'fail',
 'reach',
 'statist',
 'signific',
 'moreov',
 'signific',
 'differ',
 'benign',
 'malign',
 'case',
 'term',
 'mean',
 ...]

In [ ]:
type(res)

list

In [ ]:
data

,a,new,y
0,"[thyroid, surgeri, children, singl, institut, ...",2,thyroid surgeri children singl institut osama ...
1,"[adopt, strategi, use, prior, year, base, four...",2,adopt strategi use prior year base four exclus...
2,"[coronari, arterybypass, graft, thrombosi, mut...",2,coronari arterybypass graft thrombosi mutation...
3,"[solitari, plasmacytoma, sp, skull, uncommon, ...",2,solitari plasmacytoma sp skull uncommon clinic...
4,"[studi, aim, investig, serum, matrix, metallop...",2,studi aim investig serum matrix metalloprotein...
...,...,...,...
7565,"[report, case, 24yearold, man, present, chief,...",0,report case 24yearold man present chief compla...
7566,"[among, synchron, colorect, cancer, scrcs, rep...",0,among synchron colorect cancer scrcs report pr...
7567,"[heterogen, cancer, cell, general, accept, ast...",0,heterogen cancer cell general accept astem cel...
7568,"[adipogenesi, process, mesenchymalstem, cell, ...",0,adipogenesi process mesenchymalstem cell mscs ...
7569,"[periparturi, period, one, challeng, period, d...",0,periparturi period one challeng period dairi c...

In [ ]:
data['a'] = data['a'].apply(lambda x: eval("x"))

In [ ]:
data['a'] = data['a'].apply(lambda x:" ".join(x))

In [ ]:
data

,a,new,y
0,thyroid surgeri children singl institut osama ...,2,thyroid surgeri children singl institut osama ...
1,adopt strategi use prior year base four exclus...,2,adopt strategi use prior year base four exclus...
2,coronari arterybypass graft thrombosi mutation...,2,coronari arterybypass graft thrombosi mutation...
3,solitari plasmacytoma sp skull uncommon clinic...,2,solitari plasmacytoma sp skull uncommon clinic...
4,studi aim investig serum matrix metalloprotein...,2,studi aim investig serum matrix metalloprotein...
...,...,...,...
7565,report case 24yearold man present chief compla...,0,report case 24yearold man present chief compla...
7566,among synchron colorect cancer scrcs report pr...,0,among synchron colorect cancer scrcs report pr...
7567,heterogen cancer cell general accept astem cel...,0,heterogen cancer cell general accept astem cel...
7568,adipogenesi process mesenchymalstem cell mscs ...,0,adipogenesi process mesenchymalstem cell mscs ...
7569,periparturi period one challeng period dairi c...,0,periparturi period one challeng period dairi c...

In [ ]:
data.drop(['a','y'],axis=1,inplace=True)

In [ ]:
data.rename(columns = {'n':'text'}, inplace = True)

In [ ]:
data.rename(columns = {'new':''}, inplace = True)

In [ ]:
import numpy as np
import pandas as pd
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.29.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/output2.csv',encoding='latin1')

In [ ]:
data

       ï»¿  label                                               text
0        0      2  thyroid surgeri children singl institut osama ...
1        1      2  adopt strategi use prior year base four exclus...
2        2      2  coronari arterybypass graft thrombosi mutation...
3        3      2  solitari plasmacytoma sp skull uncommon clinic...
4        4      2  studi aim investig serum matrix metalloprotein...
...    ...    ...                                                ...
7565  7565      0  report case 24yearold man present chief compla...
7566  7566      0  among synchron colorect cancer scrcs report pr...
7567  7567      0  heterogen cancer cell general accept astem cel...
7568  7568      0  adipogenesi process mesenchymalstem cell mscs ...
7569  7569      0  periparturi period one challeng period dairi c...

[7570 rows x 3 columns]

In [ ]:
data.drop('ï»¿',axis = 1, inplace = True)

In [ ]:
data

      label                                               text
0         2  thyroid surgeri children singl institut osama ...
1         2  adopt strategi use prior year base four exclus...
2         2  coronari arterybypass graft thrombosi mutation...
3         2  solitari plasmacytoma sp skull uncommon clinic...
4         2  studi aim investig serum matrix metalloprotein...
...     ...                                                ...
7565      0  report case 24yearold man present chief compla...
7566      0  among synchron colorect cancer scrcs report pr...
7567      0  heterogen cancer cell general accept astem cel...
7568      0  adipogenesi process mesenchymalstem cell mscs ...
7569      0  periparturi period one challeng period dairi c...

[7570 rows x 2 columns]

In [ ]:
seq_len =  8192
num_samples = len(data)

Xids = np.zeros((num_samples, seq_len))
Xmask = np.zeros((num_samples, seq_len))

Xids.shape

(7570, 8192)

In [ ]:
from transformers import BertTokenizer

tokenizer = BertTokenizer.from_pretrained('bert-base-cased')
for i, text in enumerate(data['text']):
  tokens = tokenizer.encode_plus(text, max_length = seq_len, truncation=True, padding='max_length', add_special_tokens=True, return_tensors='tf')
  Xids[i, :] = tokens['input_ids']
  Xmask[i, :] = tokens['attention_mask']

In [ ]:
Xids

array([[  101., 21153., 16219., ...,     0.,     0.,     0.],
       [  101., 11258.,   188., ...,     0.,     0.,     0.],
       [  101.,  1884., 15789., ...,     0.,     0.,     0.],
       ...,
       [  101.,  1119., 25710., ...,     0.,     0.,     0.],
       [  101.,  8050.,  9717., ...,     0.,     0.,     0.],
       [  101.,  1679.,  9717., ...,     0.,     0.,     0.]])

In [ ]:
Xmask

array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.]])

In [ ]:
Xids.shape

(7570, 8192)

In [ ]:
arr = data['label'].values

In [ ]:
arr

array([2, 2, 2, ..., 0, 0, 0])

In [ ]:
labels = np.zeros((num_samples,arr.max()+1))

In [ ]:
labels[np.arange(num_samples),arr] = 1

In [ ]:
import tensorflow as tf

In [ ]:
dataset = tf.data.Dataset.from_tensor_slices((Xids, Xmask, labels))

In [ ]:
dataset.take(1)

In [ ]:
dataset

In [ ]:
def map_func(inputs_ids, masks, labels):
  return {'input_ids': inputs_ids, 'attention_mask': masks}, labels

In [ ]:
dataset = dataset.map(map_func)

In [ ]:
dataset.take(1)

<_TakeDataset element_spec=({'input_ids': TensorSpec(shape=(8192,), dtype=tf.float64, name=None), 'attention_mask': TensorSpec(shape=(8192,), dtype=tf.float64, name=None)}, TensorSpec(shape=(3,), dtype=tf.float64, name=None))>

In [ ]:
batch_size = 12
dataset = dataset.shuffle(10000).batch(batch_size,drop_remainder = True)

In [ ]:
dataset.take(1)

<_TakeDataset element_spec=({'input_ids': TensorSpec(shape=(12, 8192), dtype=tf.float64, name=None), 'attention_mask': TensorSpec(shape=(12, 8192), dtype=tf.float64, name=None)}, TensorSpec(shape=(12, 3), dtype=tf.float64, name=None))>

In [ ]:
split = 0.9
size = int((num_samples/batch_size)*split)

In [ ]:
Xids.shape[0]

7570

In [ ]:
size

567

In [ ]:
train_ds = dataset.take(size)
test_ds = dataset.skip(size)

In [ ]:
train_ds

<_TakeDataset element_spec=({'input_ids': TensorSpec(shape=(12, 8192), dtype=tf.float64, name=None), 'attention_mask': TensorSpec(shape=(12, 8192), dtype=tf.float64, name=None)}, TensorSpec(shape=(12, 3), dtype=tf.float64, name=None))>

In [ ]:
from transformers import TFAutoModel

In [ ]:

bert = TFAutoModel.from_pretrained('bert-base-uncased')
bert.summary

Some layers from the model checkpoint at bert-base-uncased were not used when initializing TFBertModel: ['mlm___cls', 'nsp___cls']
- This IS expected if you are initializing TFBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertModel were initialized from the model checkpoint at bert-base-uncased.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

In [ ]:

bert.summary()

Model: "tf_bert_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 bert (TFBertMainLayer)      multiple                  109482240

=================================================================
Total params: 109,482,240
Trainable params: 109,482,240
Non-trainable params: 0
_________________________________________________________________

In [ ]:
seq_len

8192

In [ ]:
input_ids = tf.keras.layers.Input(shape=(seq_len,),name = 'input_ids',dtype = 'int32')
mask = tf.keras.layers.Input(shape=(seq_len,),name = 'attention_mask',dtype = 'int32')
embeddings = bert.bert(input_ids,attention_mask = mask)[1]
x = tf.keras.layers.Dense(1024,activation = 'relu')(embeddings)
y = tf.keras.layers.Dense(arr.max()+1,activation = 'softmax',name = 'outputs')(x)

In [ ]:
model = tf.keras.Model(inputs=[input_ids,mask],outputs = y)
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_ids (InputLayer)         [(None, 8192)]       0           []

 attention_mask (InputLayer)    [(None, 8192)]       0           []

 bert (TFBertMainLayer)         TFBaseModelOutputWi  109482240   ['input_ids[0][0]',
                                thPoolingAndCrossAt               'attention_mask[0][0]']
                                tentions(last_hidde
                                n_state=(None, 8192
                                , 768),
                                 pooler_output=(Non
                                e, 768),
                                 past_key_values=No
                                ne, hidden_states=N
                                one, attentions=Non
                                e, cross_attentions
                                =None)

 dense (Dense)                  (None, 1024)         787456      ['bert[0][1]']

 outputs (Dense)                (None, 3)            3075        ['dense[0][0]']

==================================================================================================
Total params: 110,272,771
Trainable params: 110,272,771
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
optimizer = tf.keras.optimizers.legacy.Adam(lr=1e-5,decay=1e-6)
loss = tf.keras.losses.CategoricalCrossentropy()
acc = tf.keras.metrics.CategoricalAccuracy('accuracy')

/usr/local/lib/python3.10/dist-packages/keras/optimizers/legacy/adam.py:117: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

In [ ]:
model.compile(optimizer=optimizer,loss=loss,metrics=[acc])

In [ ]:
history = model.fit(train_ds,validation_data=test_ds,epochs=3, batch_size=2)

Epoch 1/3